html{
    height: 100%;
}
body{
    background-image: url("./img/スマホ画面.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
img{
    width: 23%;
}
.imgbox{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 95%;
    gap: 5px;
}