html{
    height: 100%;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    touch-action: manipulation;
    position: relative;
}
.rabbit{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2px;
    position: absolute;
}
img{
    width: 23%;
}
.imgbox{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 95%;
    gap: 5px;
    position: absolute;
}
#storySend{
    border-radius: 100vh;
    color: #fff;
    background-color: #eb6100;
    width: 4em;
    height: 2em;
    font-size:large;
}
#storySend:hover{
    color: #fff;
    background: #000000;
}
.yes{
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
    font-weight: bold;
    background-color: darksalmon;
    color: #000000;
    border-radius: 100vh;
    margin-right: 10px;
    font-size:large;
}
.no{
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
    font-weight: bold;
    background-color: rgb(128, 235, 249);
    color: #000000;
    border-radius: 100vh;
    margin-right: 10px;
    font-size:large;
}

.kaguya{
    width: 100%;
}

/* モーダルCSS */
.modalArea {
    display: none;
    position: fixed;
    z-index: 10; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
  }
  
  .modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 500px;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 2vh;
  }
  
  .closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
  }